{% extends 'base.html' %}

{%block content %}

   <h1>{% block title %} База заявок {% endblock %}</h1>
   <body>
    <p><font size="5" color="blue" face="Times New Roman"><a href="{{ url_for('nikolaym')}}">Николай М.</font></a></p>
	<p><font size="5" color="blue" face="Times New Roman"><a href="{{ url_for('andrew')}}">Андрей</font></a></p>
	<p><font size="5" color="blue" face="Times New Roman"><a href="{{ url_for('michael')}}">Михаил</font></a></p>
	<p><font size="5" color="blue" face="Times New Roman"><a href="{{ url_for('german')}}">Герман</font></a></p>
	<p><font size="5" color="blue" face="Times New Roman"><a href="{{ url_for('nikolaysemenov')}}">Николай С.</font></a></p>
	<p><font size="5" color="blue" face="Times New Roman"><a href="{{ url_for('ilya')}}">Илья</font></a></p>
	<p><font size="5" color="blue" face="Times New Roman"><a href="{{ url_for('dmitriy')}}">Дмитрий</font></a></p>
	<p><font size="5" color="blue" face="Times New Roman"><a href="{{ url_for('im')}}">Илья М.</font></a></p>
	<p><font size="5" color="blue" face="Times New Roman"><a href="{{ url_for('nina')}}">Нина</font></a></p>
	<p><font size="5" color="blue" face="Times New Roman"><a href="{{ url_for('natalia')}}">Наталья</font></a></p>
	<p><font size="5" color="blue" face="Times New Roman"><a href="{{ url_for('yana')}}">Янина</font></a></p>
	<p><font size="5" color="blue" face="Times New Roman"><a href="{{ url_for('vl')}}">Владимир</font></a></p>
 </body>
{% endblock %}