{% extends 'base.html' %}

{%block content %}
   <h1> Фильтр по адресам</h1>
 <p>  <a style="color:#FF0000; font-size:20pt" href="{{ url_for('dmitriypetr')}}"> Петроградский</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('dmitriyfrunza')}}"> Фрунзенский</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('dmitriywvsevolzhsk')}}"> Всеволжск</a>   </p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('dmitriyprim')}}"> Приморский</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('dmitriyzanevka')}}"> ЖКК Заневка</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('dmitriykolt')}}"> Колтуши</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('dmitriystaraya')}}"> д.Старая</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('dmitriykyz')}}"> Кузьмолово</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('dmitriykalin')}}"> Калининский</a></p>
   <p><a style="color:#FF0000; font-size:20pt" href="{{ url_for('dmitriyohta')}}"> УК Охта-Сервис</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('dmitriyraz')}}"> пос. Разметелево</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('dmitriysheg')}}"> Щеглово</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('dmitriyyanino')}}"> Янино</a></p>
   
   
{% endblock %}
  