{% extends 'base.html' %}

{%block content %}
      <h1> Фильтр по адресам</h1>
 <p>  <a style="color:#FF0000; font-size:20pt" href="{{ url_for('genapetr')}}"> Петроградский</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('genafrunza')}}"> Фрунзенский</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('genavsevolzhsk')}}"> Всеволжск</a>   </p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('genaprim')}}"> Приморский</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('genazanevka')}}"> ЖКК Заневка</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('genakolt')}}"> Колтуши</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('genastaraya')}}"> д.Старая</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('genakyz')}}"> Кузьмолово</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('genakalin')}}"> Калининский</a></p>
   <p><a style="color:#FF0000; font-size:20pt" href="{{ url_for('genaohta')}}"> УК Охта-Сервис</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('genaraz')}}"> пос. Разметелево</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('genasheg')}}"> Щеглово</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('genayanino')}}"> Янино</a></p>
   
{% endblock %}
  