{% extends 'base.html' %}

{%block content %}
    <h1> Фильтр по адресам</h1>
 <p>  <a style="color:#FF0000; font-size:20pt" href="{{ url_for('germanpetr')}}"> Петроградский</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('germanfrunza')}}"> Фрунзенский</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('germanvsevolzhsk')}}"> Всеволжск</a>   </p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('germanprim')}}"> Приморский</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('germanzanevka')}}"> ЖКК Заневка</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('germankolt')}}"> Колтуши</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('germanstaraya')}}"> д.Старая</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('germankyz')}}"> Кузьмолово</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('germankalin')}}"> Калининский</a></p>
   <p><a style="color:#FF0000; font-size:20pt" href="{{ url_for('germanohta')}}"> УК Охта-Сервис</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('germanaraz')}}"> пос. Разметелево</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('germansheg')}}"> Щеглово</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('germanyanino')}}"> Янино</a></p>
   
   
   
{% endblock %}
  