{% extends 'base.html' %}

{%block content %}
<h1> Фильтр по адресам</h1>
 <p>  <a style="color:#FF0000; font-size:20pt" href="{{ url_for('michaelpetr')}}"> Петроградский</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('michaelfrunza')}}"> Фрунзенский</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('michaelvsevolzhsk')}}"> Всеволжск</a>   </p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('michaelprim')}}"> Приморский</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('michaelzanevka')}}"> ЖКК Заневка</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('michaelkolt')}}"> Колтуши</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('michaelstaraya')}}"> д.Старая</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('michaelkyz')}}"> Кузьмолово</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('michaelkalin')}}"> Калининский</a></p>
   <p><a style="color:#FF0000; font-size:20pt" href="{{ url_for('michaelohta')}}"> УК Охта-Сервис</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('michaelaraz')}}"> пос. Разметелево</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('michaelsheg')}}"> Щеглово</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('michaelyanino')}}"> Янино</a></p>
   
{% endblock %}
  