{% extends 'base.html' %}

{%block content %}
     <h1> Фильтр по адресам</h1>
 <p>  <a style="color:#FF0000; font-size:20pt" href="{{ url_for('ninapetr')}}"> Петроградский</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('ninafrunza')}}"> Фрунзенский</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('ninavsevolzhsk')}}"> Всеволжск</a>   </p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('ninaprim')}}"> Приморский</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('ninazanevka')}}"> ЖКК Заневка</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('ninakolt')}}"> Колтуши</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('ninastaraya')}}"> д.Старая</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('ninakyz')}}"> Кузьмолово</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('ninakalin')}}"> Калининский</a></p>
   <p><a style="color:#FF0000; font-size:20pt" href="{{ url_for('ninaohta')}}"> УК Охта-Сервис</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('ninaraz')}}"> пос. Разметелево</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('ninasheg')}}"> Щеглово</a></p>
  <p> <a style="color:#FF0000; font-size:20pt" href="{{ url_for('ninayanino')}}"> Янино</a></p>
   
   
{% endblock %}
  